$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;
$background : #F3F3F3;
$dark-green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$dark-grey: #353535;

@mixin overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    width: 218px;
    height: 50px;
    background: linear-gradient(to top, $primary, $secondary);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));

    &:hover{
        background: linear-gradient(to top, #a67bdb, #ffa5e5);
        filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
    }
}  

.card{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    background-color: white;
    border-radius: 20px;
    height: 251px;  
}

.card_content {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.card_txt {
    margin: 0;
    padding: 0;
}

.card_title {
    margin: 10px 0px 0px 0px;
}

.card_icon {
    margin: 12px 20px 0px 0px;
}

/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'shrikhand';
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****** INDEX ***********/
/****** Header ***********/

.header-index {
    @extend .flexcenter;
    flex-direction: column;

    .header-logo {
        height: 63px;
    }

    .header-localisation {
        @extend .flexcenter;
        flex-direction: row;
        background-color: #EAEAEA;
        width: 100%;
    
        p {
            margin: 5%;
        }
    
        i{
            color: $dark-grey;
            margin-right: 2%;
        }
    }
}

/****** Presentation ***********/
.presentation {
    @extend .flexcenter;
    align-content: center;
    flex-direction: column;
    background-color: $background;
    padding: 0% 10% 10% 10%;

    p {
        color: $dark-grey;
        font-size: 17px;
        margin-bottom: 5%;
    }
}
/****** Fonctionnement ***********/
.fonctionnement {
    margin-left: 5%;

    .fonctionnement-button {
        @extend .flexcenter;
        justify-content: space-evenly;
        height: 50px;
        background-color: $background;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
        margin: 0% 1% 5% 1%;
        width: 95%;

        i {
            font-size: 22px;
            color: #7E7E7E;
        }

        .fonctionnement-step{
            @extend .flexcenter;
            position: absolute;
            margin-right: 100%;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            background-color: $primary;
            color: white;
        }

        #fonctionnement-margin{
            margin-left: 4%;
        }

        #fonctionnement-primary{
            color: $primary;
        }
    }
}
/****** Restaurants ***********/
.restaurants {
    background-color: $background;
    padding: 5px 30px 20px 30px;
    box-sizing: border-box;

    .restaurants-cards {

        .restaurant-card img {
            object-fit: cover;
            width: 100%;
            height: 75%;
            border-radius: 20px 20px 0px 0px;
        }

        .restaurant-card{
            @extend .card; 
        }

        .restaurant-card_content {
            @extend .card_content;
        }

        .restaurant-card_txt {
           @extend .card_txt;
        }

        .restaurant-card_title {
            @extend .card_title;
        }

        .restaurant-card_icon {
            @extend .card_icon;
        }

        .color-new{
            background-color: $tertiary;
            color: $dark-green;
            padding: 5px;
            margin: 5% 0% 0% 58%;
        }
    }

    .relative{
        position: relative;
    } 

    .absolute{
        position: absolute;
    }
}

/****** Footer ***********/
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark-grey;
    color: white;
    font-size: 16px;
    padding: 0% 0% 2% 10%;

    h2 {
        list-style-type: none;
        line-height: 30px;
        font-weight: 700;
        font-size: 18px;
    }

    img {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
        width: 137px;
    }

    ul {
        margin: 0;
        padding: 0;
        
        .flex-row {
            display: flex;
            flex-direction: row;        
        }
    }

    .footer-i {
        @extend .flexcenter;
        width: 30px 
    }

    .footer-i_plus{
        @extend .footer-i;
        width: 30px;
    }

    li {
        list-style-type: none;
        line-height: 30px;
        font-weight: 400;
        font-size: 16px;
    }
}

/****** PAGE RESTAURANT ***********/
/****** Header RESTAURANT ***********/
.header-menu {
    @extend .flexcenter;
    flex-direction: row;

    .header-menu_icon {
        @extend .flexcenter;
        width: 13%;
        font-size: 19px;
        color: $dark-grey;
    }

    .header-menu_logo {
        width: 100%;
        @extend .flexcenter;

        img{
            width: 80%;
        }
    }
}
/****** Presentation RESTAURANT***********/
.presentation-menu_image {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -1;

}

.presentation-menu {
    background-color: $background;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    margin-top: -65px;
    border-radius: 20px 20px 0px 0px;

        h2 {
            font-size: 28px;
            font-style: italic;
            font-family: 'shrikhand';
            font-weight: 400;
        }
    
        i {
            font-size: 22px;
        }
}

/****** Menu RESTAURANT***********/
.menu {
    background-color: $background;
    padding: 5px 15px 20px 15px;
    box-sizing: border-box;
    

    .menu-cards {

        .menu-title {
            width: 40px;
            height: 20px;
            border-bottom: 3px $tertiary solid;

            h2 {
                font-weight: 300;
                font-size: 16px;
                text-transform: uppercase;  
            }
        }
    }
    
        .menu-card{
            @extend .card; 
            height: 68px;
            overflow: hidden;

            &:hover .menu-card_check{
                margin-right: 0;
                transition: .3s;
            }

            .menu-card_content {
                @extend .card_content;
            }
    
            .menu-card_txt {
                @extend .card_txt;
                @include overflow;
               
               p {
                 @include overflow;
                font-size: 15px;
                font-weight: 300;
               
            }
            }
    
            .menu-card_title {
                @extend .card_title;
                @include overflow;
                margin-bottom: 8px;
                
            }
    
            .menu-card_price {
                color: $dark-grey;
                margin: 38px 0px 0px auto;
                width: 38px;
                font-size: 15px;
                font-weight: 700;
            }
    
            .menu-card_check {
                @extend .flexcenter;
                background-color: $tertiary;
                border-radius: 0px 20px 20px 0px;
                margin-right: -59px;
                width: 59px;
                height: 68px;
            }
    
            .menu-card_icon {
                @extend .flexcenter;
                background-color: white;
                border-radius: 50px;
                height: 25px;
                width: 25px;
                color: $tertiary;
            }
        }

    
}

.btn-menu_container {
    padding-top: 10%;
    @extend .flexcenter;
}