/****** General ***********/
.flexcenter, .menu .btn-menu_container, .menu .menu-card .menu-card_icon, .menu .menu-card .menu-card_check, .header-menu .header-menu_logo, .header-menu .header-menu_icon, .header-menu, .footer-list .footer-i, .footer-list .footer-i_plus, .fonctionnement .fonctionnement-button .fonctionnement-step, .fonctionnement .fonctionnement-button, .presentation, .header-index .header-localisation, .header-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "shrikhand";
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/****** COLOR ***********/
/****** BTN ***********/
.btn {
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}
.btn:hover {
  background: linear-gradient(to top, #a67bdb, #ffa5e5);
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
}

/****** CARD ***********/
.card, .menu .menu-card, .restaurants .restaurants-cards .restaurant-card {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  background-color: white;
  border-radius: 20px;
  height: 251px;
}

.card_content, .menu .menu-card .menu-card_content, .restaurants .restaurants-cards .restaurant-card_content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.card_txt, .menu .menu-card .menu-card_txt, .restaurants .restaurants-cards .restaurant-card_txt {
  margin: 0;
  padding: 0;
}

.card_title, .menu .menu-card .menu-card_title, .restaurants .restaurants-cards .restaurant-card_title {
  margin: 10px 0px 0px 0px;
}

.card_icon, .restaurants .restaurants-cards .restaurant-card_icon {
  margin: 12px 20px 0px 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

/****** HEART ANIMATION ***********/
.animation-card_icon, .presentation-menu .presentation-menu-title .restaurant-menu-card_icon, .restaurants .restaurants-cards .restaurant-card_icon {
  overflow: hidden;
}
.animation-card_icon:hover .fa-solid, .presentation-menu .presentation-menu-title .restaurant-menu-card_icon:hover .fa-solid, .restaurants .restaurants-cards .restaurant-card_icon:hover .fa-solid {
  bottom: 0px;
  visibility: visible;
}
.animation-card_icon:hover .fa-regular, .presentation-menu .presentation-menu-title .restaurant-menu-card_icon:hover .fa-regular, .restaurants .restaurants-cards .restaurant-card_icon:hover .fa-regular {
  color: transparent;
}
.animation-card_icon .fa-regular, .presentation-menu .presentation-menu-title .restaurant-menu-card_icon .fa-regular, .restaurants .restaurants-cards .restaurant-card_icon .fa-regular {
  transition: 1s;
  position: absolute;
}
.animation-card_icon .fa-solid, .presentation-menu .presentation-menu-title .restaurant-menu-card_icon .fa-solid, .restaurants .restaurants-cards .restaurant-card_icon .fa-solid {
  font-size: 17px;
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  bottom: 17px;
  transition: 0.3s;
  position: relative;
  visibility: hidden;
}

/****** Appear ANIMATION  ***********/
.appear, .menu .menu-cards {
  animation: appearFromTop 1s;
  animation-fill-mode: both;
}
@keyframes appearFromTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appear:nth-child(1), .menu .menu-cards:nth-child(1) {
  animation-delay: 1s;
}
.appear:nth-child(2), .menu .menu-cards:nth-child(2) {
  animation-delay: 2s;
}
.appear:nth-child(3), .menu .menu-cards:nth-child(3) {
  animation-delay: 3s;
}

/******************** PAGE INDEX *********************/
/****** Header ***********/
.header-index {
  flex-direction: column;
}
.header-index .header-logo {
  height: 63px;
}
.header-index .header-localisation {
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
}
.header-index .header-localisation p {
  margin: 5%;
}
.header-index .header-localisation i {
  color: #353535;
  margin-right: 2%;
}

/****** Presentation ***********/
.presentation {
  align-content: center;
  flex-direction: column;
  background-color: #F3F3F3;
  padding: 0% 10% 10% 10%;
}
.presentation p {
  color: #353535;
  font-size: 17px;
  margin-bottom: 5%;
}

/****** Fonctionnement ***********/
.fonctionnement {
  margin-left: 5%;
}
.fonctionnement .fonctionnement-button {
  justify-content: space-evenly;
  height: 50px;
  background-color: #F3F3F3;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  margin: 0% 1% 5% 1%;
  width: 95%;
}
.fonctionnement .fonctionnement-button i {
  font-size: 22px;
  color: #7E7E7E;
}
.fonctionnement .fonctionnement-button .fonctionnement-step {
  position: absolute;
  margin-right: 100%;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement .fonctionnement-button #fonctionnement-margin {
  margin-left: 4%;
}
.fonctionnement .fonctionnement-button #fonctionnement-primary {
  color: #9356DC;
}

/****** Restaurants cartes ***********/
.restaurants {
  background-color: #F3F3F3;
  padding: 5px 30px 20px 30px;
  box-sizing: border-box;
}
.restaurants .restaurants-cards .restaurant-card img {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .restaurants-cards .color-new {
  background-color: #99E2D0;
  color: #008766;
  padding: 5px;
  top: 20px;
  right: 15px;
}
.restaurants .relative {
  position: relative;
}
.restaurants .absolute {
  position: absolute;
}

/****** Footer ***********/
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  color: white;
  font-size: 16px;
  padding: 0% 0% 2% 10%;
}
.footer-list h2 {
  list-style-type: none;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
}
.footer-list img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 137px;
}
.footer-list ul {
  margin: 0;
  padding: 0;
}
.footer-list ul .flex-row {
  display: flex;
  flex-direction: row;
}
.footer-list .footer-i, .footer-list .footer-i_plus {
  width: 30px;
}
.footer-list .footer-i_plus {
  width: 30px;
}
.footer-list li {
  list-style-type: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
}

/******************** PAGE RESTAURANT *********************/
/****** Header RESTAURANT ***********/
.header-menu {
  flex-direction: row;
}
.header-menu .header-menu_icon {
  width: 13%;
  font-size: 19px;
  color: #353535;
}
.header-menu .header-menu_logo {
  width: 100%;
}
.header-menu .header-menu_logo img {
  width: 80%;
}

/****** Presentation RESTAURANT***********/
.presentation-menu .presentation-menu_image {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: -1;
}
.presentation-menu .presentation-menu-title {
  background-color: #F3F3F3;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  bottom: 50px;
  border-radius: 20px 20px 0px 0px;
}
.presentation-menu .presentation-menu-title h2 {
  font-size: 28px;
  font-style: italic;
  font-family: "shrikhand";
  font-weight: 400;
}
.presentation-menu .presentation-menu-title .restaurant-menu-card_icon {
  font-size: 22px;
}
.presentation-menu .presentation-menu-title .restaurant-menu-card_icon .fa-solid {
  font-size: 22px;
}

/****** Menu RESTAURANT***********/
.menu {
  background-color: #F3F3F3;
  margin-top: -65px;
  padding: 5px 15px 20px 15px;
  position: relative;
  box-sizing: border-box;
}
.menu .menu-cards {
  margin-top: 5%;
}
.menu .menu-cards .menu-title {
  width: 40px;
  height: 20px;
  border-bottom: 3px #99E2D0 solid;
}
.menu .menu-cards .menu-title h2 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu .menu-card {
  height: 68px;
  overflow: hidden;
}
.menu .menu-card:hover .menu-card_check {
  margin-right: 0;
}
.menu .menu-card .menu-card_txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card .menu-card_txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu-card .menu-card_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.menu .menu-card .menu-card_price {
  color: #353535;
  margin: 38px 0px 0px auto;
  width: 38px;
  font-size: 15px;
  font-weight: 700;
}
.menu .menu-card .menu-card_check {
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  margin-right: -59px;
  width: 59px;
  height: 68px;
  transition: 0.3s;
}
.menu .menu-card .menu-card_icon {
  background-color: white;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  color: #99E2D0;
}
.menu .btn-menu_container {
  padding-top: 10%;
}

@media (min-width: 1024px) {
  /****** Header Mediaquery***********/
  .header-index .header-logo {
    height: 96px;
  }
  /****** Presentation Mediaquery***********/
  .presentation {
    padding: 0% 10% 2% 10%;
  }
  /****** Fonctionnement Mediaquery***********/
  .fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-left: 0%;
  }
  .fonctionnement .fonctionnement-title {
    display: flex;
    margin-left: 2%;
  }
  .fonctionnement .fonctionnement-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnement .fonctionnement-container .fonctionnement-button {
    height: 72px;
    width: 24%;
  }
  /****** Restaurants cartes Mediaquery ***********/
  .restaurants {
    flex-direction: column;
  }
  .restaurants .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants .restaurants-cards .restaurant-card {
    width: 90%;
  }
  .restaurants .restaurants-cards a {
    margin-left: 3%;
    margin-top: 2.5%;
    width: 33%;
  }
  /****** Footer Mediaquery ***********/
  .footer-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .footer-list h2 {
    padding-top: 49px;
    margin-bottom: 6px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .footer-list ul {
    display: flex;
    padding-top: 61px;
    margin-bottom: 11px;
  }
  .footer-list ul li {
    margin-right: 20px;
  }
  /****** Presentation RESTAURANT Mediaquery ***********/
  .presentation-menu .presentation-menu_image img {
    height: 900px;
  }
  .presentation-menu .presentation-menu-title {
    width: 80%;
    margin-left: 10%;
    bottom: 240px;
  }
  /****** Menu RESTAURANT Mediaquery ***********/
  .menu {
    width: 80%;
    margin-left: 10%;
    margin-top: -245px;
  }
  .menu .menu-cards {
    width: 70%;
    margin-left: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
