/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-family: "shriekhand";
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/****** Header ***********/
.header-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  height: 63px;
}

.header-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100%;
}
.header-localisation p {
  margin: 5%;
}
.header-localisation i {
  color: #353535;
  margin-right: 2%;
}

/****** Presentation ***********/
.presentation {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.presentation p {
  color: #353535;
  font-size: 17px;
  margin-bottom: 5%;
}
.presentation .btn {
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}
.presentation .btn:hover {
  background: linear-gradient(to top, #a67bdb, #ffa5e5);
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
}

/****** Fonctionnement ***********/
.fonctionnement {
  flex-direction: column;
  margin-left: 5%;
}
.fonctionnement .fonctionnement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  background-color: #F3F3F3;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 95%;
}
.fonctionnement .fonctionnement-button i {
  font-size: 22px;
  color: #7E7E7E;
}
.fonctionnement .fonctionnement-button .fonctionnement-step {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 100%;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement .fonctionnement-button #fonctionnement-margin {
  margin-left: 4%;
}
.fonctionnement .fonctionnement-button #fonctionnement-primary {
  color: #9356DC;
}

/****** Restaurants ***********/
.restaurants {
  background-color: #F3F3F3;
  padding: 5px 30px 20px 30px;
  box-sizing: border-box;
}
.restaurants .restaurants-cards .card img {
  object-fit: cover;
}
.restaurants .restaurants-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  background-color: white;
  border-radius: 20px;
  height: 251px;
}
.restaurants .restaurants-cards img {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .restaurants-cards .card-content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurants .restaurants-cards .relative {
  position: relative;
}
.restaurants .restaurants-cards .absolute {
  position: absolute;
}
.restaurants .restaurants-cards h3 {
  margin: 10px 0px 0px 0px;
}
.restaurants .restaurants-cards .color-new {
  background-color: #99E2D0;
  color: #008766;
  padding: 5px;
}
.restaurants .restaurants-cards .card-icon {
  margin: 12px 20px 0px 0px;
}

.card-txt {
  margin: 0;
  padding: 0;
}

/****** Footer ***********/
.footer-list {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 10%;
  justify-content: space-between;
  padding-bottom: 2%;
  color: white;
  font-size: 16px;
}
.footer-list h2 {
  list-style-type: none;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
}
.footer-list img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 137px;
}
.footer-list ul {
  margin: 0;
  padding: 0;
}
.footer-list ul .flex-row {
  display: flex;
  flex-direction: row;
}
.footer-list .footer-i, .footer-list .footer-i_plus {
  font-size: 13px;
  padding-top: 2%;
  padding-right: 1%;
}
.footer-list .footer-i_plus {
  padding-right: 2%;
}
.footer-list li {
  list-style-type: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
